body {
  position: relative;
  margin: 0;
  padding: 0;
}
#canvas {
  border: 10px solid green;
  border-radius: 10px;
}

#back-icon {
  position: absolute;
  top: 20px;
  left: 600px;
}

#start, #instruction, #retry {
  position: absolute;
  font-family: lato, sans-serif;
  font-size: 32px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: coral;
  min-width: 200px;
}
#retry {
  top: 500px;
  left: 240px;
}
#start {
  top: 430px;
  left: 240px;
}
#instruction {
  top: 500px;
  left: 240px;
}
#start:hover {
  background-color: #994c30;
  color: white;
}
#instruction:hover {
  background-color: #994c30;
  color: white;
}
#instruction-text {
  position: absolute;
  top: 200px;
  left: 40px;

  color: black;
  width: 540px;
  height: 500px;
  font-size: 20px;
    font-family: lato, sans-serif;

}
#instruction-text li {
  margin-left: 20px;
} 
#instruction-text p {
  margin-bottom: 50px;
} 
.hidden {
  display: none;
}